<mat-toolbar color="primary" class="example-toolbar">
    <a target="_blank" href="https://github.com/JoeWDavies?tab=repositories" style="display:flex; margin:auto;">
        <img matListAvatar src="assets/images/logo.png" height="40px" alt="Logo" />
    </a>
    <div class="title-container" style="display:flex;">
        <h1 class="title" style="margin:auto; padding-right: 10px;">Cesium Angular Template<span
                class="title-mobile">Cesium Template</span></h1>
        <!-- <h2 class="subtitle" style="margin:auto;">Cesium-angular-template</h2> -->
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!-- <button *ngIf="sidePanel" mat-icon-button (click)="sidePanel.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
</mat-toolbar>
